.docs {

    &__section {
        margin: 50px 0;
        padding: 0 20px;

        h2 {
            font-weight: normal;
            font-size: 30px;

            &:before {
                content: '#';
                color: $color-blue;
                opacity: .8;
                margin-right: 15px;
            }
        }

        h3 {
            font-weight: normal;
            font-size: 26px;
        }
    }

    &__method,
    &__configuration {
        margin: 45px 0;
        border-bottom: solid 1px $color-border-gray;
        padding: 0 20px 40px;

        &:last-child {
            border-bottom: 0;
        }

        &__section {
            margin: 20px 0;
        }

        &__arguments {

        }

        &__argument {
            display: block;
            margin-bottom: 10px;
        }
    }

    &__configuration {

        &__default {
            p {
                padding-left: 20px;
            }
        }
    }

    &__columns {
        margin: 0 0 0 25px;
        padding: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
            line-height: 24px;
            font-size: 14px;
        }
    }
}


@include when-wider-than(tablet) {

}

@include when-wider-than(small_desktop) {

    .container .docs.fb-grid {
        padding-left: 50px;
    }
    .docs {

        &__columns {
            @include columns();
        }
    }
}

@include when-wider-than(large_desktop) {

}
