.header {
    background: $color-dark-gray;
    margin-bottom: 20px;

    &__inner {
        margin: 0 auto;
        padding: 15px;
    }

    &__search {
        display: none;
    }

    &__nav {
        display: none;
    }
}

.home {
    .header {
        position: absolute;
        top: 0;
        margin-bottom: 0;
        background-color: transparent;
    }
}

@include when-wider-than(tablet) {
    .header {
        &__inner {
            width: $tablet;
        }
    }
}

@include when-wider-than(small_desktop) {
    .header {
        margin-bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 99;

        &__inner {
            @include flex();
            width: $small-desktop;
            padding: 15px 0;
        }

        &__nav {
            margin-left: 50px;
            @include flex();
            align-items: center;
            flex-grow: 1;
            min-width: 25%;
            justify-content: flex-end;

            a {
                color: $color-white;
                text-transform: lowercase;
                font-size: 16px;
                padding: 2.5px 10px 5px;
                border-radius: 4px;
                margin-left: 10px;
                transition: all ease .2s;

                &:hover,
                &.active {
                    text-decoration: none;
                    background-color: $color-blue;
                }
            }
        }

        &__search {
            width: 400px;
            height: 30px;
            @include flex();

            .algolia-autocomplete {
                width: 100%;
            }

            input {
                border: solid 1px $color-white;
                padding: 5px 10px;
                font-size: 12px;
                background: transparent;
                width: 100%;
                outline: 0 none;
                @include webfont('Miriam Libre');
                transition: border ease .3s;
                font-weight: bold;
                color: $color-white;
                height: 30px;

                &::placeholder {
                    color: $color-white;
                    font-weight: bold;
                }

                &:focus {
                    border-color: $color-blue;
                }
            }
        }
    }
}

@include when-wider-than(large_desktop) {
    .header {
        &__inner {
            width: $large-desktop;
        }
    }
}
