.sidebar {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 65px;
    bottom: 0;
    padding: 40px 0;
    z-index: 10;

    &__title {
        display: block;
        font-weight: bold;
        margin: 30px 0 8px;
        padding: 0;
        font-size: 15px;
        text-decoration: none;
        color: $color-black;

        &:first-child {
            margin-top: 0;
        }
    }

    &__nav {
        padding: 0;
        display: block;
        margin: 0;

        li {
            list-style: none;
            margin: 0 0 2px;

            a {
                font-size: 14px;
                text-decoration: none;
                color: $color-blue;
                border-bottom: solid 2px transparent;

                &:hover,
                &:active,
                &.active-nav {
                    color: darken($color-blue, 10%);
                    border-bottom: solid 2px $color-blue;
                }
            }
        }
    }
}

@include when-wider-than(tablet) {

}

@include when-wider-than(small_desktop) {
    .sidebar {
        display: block;
        width: 190px;
    }
}

@include when-wider-than(large_desktop) {
    .sidebar {
        width: 204px;
    }
}
