$color-green: #53b96e;
$color-blue: #539bb9;
$color-black: #000;
$color-white: #fff;
$color-border-gray: #e7e7e7;

$breakpoints-s: 320;
$breakpoints-m: 640;
$breakpoints-l: 1024;
$breakpoints-xl: 1180;

$mobile: 320px;
$tablet: 640px;
$small-desktop: 1024px;
$large-desktop: 1180px;
